<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Welcome to privateer</title>
    </head>
    <body>
        <!-- navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="{{servlet-context}}/">privateer</a>
            </div>
            <div class="navbar-collapse collapse ">
              <ul class="nav navbar-nav">
                  <li class="{{home-selected}}"><a href="{{servlet-context}}/">Home</a></li>
                  <li class="{{about-selected}}"><a href="{{servlet-context}}/about">About</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <!-- scripts and styles -->
        {% style "/css/bootstrap-theme.min.css" %}
        {% style "/css/bootstrap.min.css" %}
        {% style "/css/screen.css" %}
        <script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
        {% script "/bootstrap.min.js" %}
        {% script "/js/site.js" %}
        <script type="text/javascript">
            var context = "{{servlet-context}}";
        </script>                              

        {% block after %}
            <script type="text/javascript">
            privateer.main.bindevents();
            </script>
        {% endblock %}
   </body>
</html>

