{% extends "privateer/views/templates/base.html" %}

{% block content %}

<br/>
<div id="messages"></div>
<textarea id="message"></textarea>
<br/>
<input type="text" id="user"></input>
<br/>
<button id="send">add message</button>
<br/>
<br/>
<span id="hidehelp">HIDE</span>
<!--  scripts -->

{% endblock %}
{%block after %}
 <script type="text/javascript">
                privateer.main.init();
                privateer.main.bindevents();
</script>
{%endblock%}
 
