{% extends "privateer/views/templates/base.html" %}
{% block content %}
<div class="description">
<div class="jumbotron">  <p><a href="#" id="hidehelp">Hide description at all</a></p> 
     <h1>Welcome to privateer</h1>
     <p>Send notes that will self-destruct after being read</p>
 </div>

 <div class="row-fluid">
    <div class="span8">
        {{content|safe}}
       
    </div>
</div>
</div>

<div class="form">
    <p><a href="#" id="showhelp" class="hidden">I am stubbed, help me!</a></p>
   {{form|safe }}
</div>

<div class="hidden success" id="success">
    <h3>Success!</h3>
</div>
<div class="hidden error" id="error"></div>
{% endblock %}
